html, body{
    padding: 0;
    margin: 0;
    background: rgb(151, 174, 136);
}

[data-tab-content]{
    display:none;
}

.active[data-tab-content]{
    display:block;
}

.tabs{
    display:flex;
    justify-content: start;
    list-style-type: none;
    margin: 0;
    padding:0;
    padding-top: 10px;
    padding-left: 10px;

    font-size:1.5rem;

    background: rgb(99, 148, 67);

    color: white;
}

.tab{
    display:flex;
    justify-content: center;
    align-items: center;

    padding: 4px 20px 4px;
    margin: 0 8px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgb(126, 181, 90);
}

.tab:hover{
    background:rgba(126, 181, 90, 0.539);
    cursor: pointer;
}

.active.tab{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgb(151, 174, 136);
}

/* timer css */
.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;

    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
    gap: 10px 10px;
}

.output{
    background: white;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: end;

    border-radius: 20px;
    padding: 20px;
    font-size: 5rem;
}

.start{
    outline:none;
    background: rgb(83, 255, 114);
    color: rgb(255,255,255);
    font-size: 2.5rem;

    border: 2px solid rgb(255,255,255);
    border-radius: 20px;
}

.end{
    outline:none;
    background: rgb(244, 92, 92);
    color: rgb(255,255,255);
    font-size: 2.5rem;

    border: 2px solid rgb(255,255,255);
    border-radius: 20px;
}

.start:hover{
    cursor: pointer;
    background: rgb(0, 255, 0)
}

.end:hover{
    cursor: pointer;
    background: rgb(255, 0, 0);
}


/* stopwatch css */

.stopwatch-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;

    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
    gap: 10px 10px;
}

.display{
    background: rgba(255, 255, 255, 0.776);
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 20px;
    padding: 20px;
    font-size: 70px;
}

.start-pause{
    height: 50px;
    background-color: rgb(206, 237, 206);
    border-radius: 20px;
    border-color: rgb(206, 237, 206);
}

.start-pause:hover{
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    background-color: #a0dcae;
    filter: drop-shadow(0 0 6px #96cea3) drop-shadow(0 0 6px #96cea3);
    cursor: pointer;
}

.pause{
    height: 50px;
    background-color: rgb(245, 223, 202);
    border-radius: 20px;
    border-color: rgb(245, 223, 202);
}

.pause:hover{
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    background-color: #f5bf92;
    filter: drop-shadow(0 0 6px #ffc1aa);
    cursor: pointer;
}

.reset{
    height: 50px;
    background-color: rgb(240, 206, 206);
    border-radius: 20px;
    border-color: rgb(240, 206, 206);
}

.reset:hover{
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    background-color: #f9adad;
    filter: drop-shadow(0 0 6px #ffc1aa);
    cursor: pointer;
}

#stopwatch.active{
    background-image: url('./pokemon-bg.png');
    min-height: 100vh;
}
